<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Proyecto Integrador - Contacto</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
  
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            
          </ul>
        </nav> <!-- .nav-bar -->
  
        <div class="search-bar">
          <div class="search-bar__logo-container">Logo</div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda">
            <input type="submit" class="search-bar__form-submit" value="Buscar">
          </form>
          <div class="search-bar__carrito-container">C</div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
        </div> <!-- .search-bar -->
  
      </header> <!-- main-header -->

      <main>
        <h1>Contacto</h1>

        <fieldset class="datos-per">
          <legend>Datos Personales</legend>
  
          <div class="dp">
            <div class="titulo"><label for="lbl-nombre">Nombre:*</label></div>
            <input type="text" id="lbl-nombre" required/>
          </div>
          <div class="dp">
            <div class="titulo"><label for="lbl-apellido">Apellido:*</label></div>
            <input type="text" id="lbl-apellido" required/>
          </div>
          <div class="dp">
            <div class="titulo">
              <label for="lbl-documento">Documento:*</label>
            </div>
            <input type="text" id="lbl-documento" required/>
          </div>
          
  
          <div class="dp">
            <div class="titulo">
              <label for="lbl-descripcion">Contanos un poco de vos...</label>
            </div>
            <textarea
              name="info"
              id="lbl-descripcion"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          
        </fieldset>
  
        <div class="punteado"></div>
  
        <fieldset class="datos-con">
          <legend>Datos de Contacto</legend>
          <div class="dc">
            <div class="titulo"><label for="lbl-telefono">Teléfono:</label></div>
            <input
              class="input"
              type="text"
              id="lbl-telefono"
              name="telefono"
              placeholder="Codigo de area y Numero"
            />
          </div>
          <div class="dc">
            <div class="titulo">
              <label for="lbl-email">Direcion de correo electrónico:</label>
            </div>
            <input
              class="input"
              type="email"
              id="lbl-email"
              name="email"
              placeholder="Ej:mail@gmail.com"
            />
          </div>
        </fieldset>
  
        <div class="punteado"></div>
  
        
      
  
        <div class="acepto">
          <input type="checkbox" id="acepto" name="acepto" value="acepto" required />
          <label for="acepto">Acepto las condiciones*</label>
        </div>
  
        <div class="novedades">
          <input
            type="checkbox"
            id="novedades"
            name="novedades"
            value="novedades"
          />
          <label for="novedades">Deseo recibir novedades</label>
        </div>
      
        <p class="campo">*:campo obligatorio.</p>
      
        <div class="botones">
          <button class="afiliacion">Iniciar afiliación</button>
          <button class="restablecer">Restablecer</button>
        </div>
      
      </main>
    </form>

        

        
      </main>

          <!-- footer -->
  
    <footer class="footer">
      <div class="container">
          <div class="social-media">
              <a href="https://facebook.com" target="_blank" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com" target="_blank" class="social-icon">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="https://instagram.com" target="_blank" class="social-icon">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="https://linkedin.com" target="_blank" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
              </a>
          </div>
          <p class="copyright">© 2024 Todos los derechos reservados.</p>
          
          <p class="vdt">Vision Digital Technology</p>
        
      </div>
  </footer>
    
    <script type="module" src="/main.js"></script>
</body>
</html>