:root{
--color-primario-oscuro:#051367;
--color-primario-claro:#DFF6FF;
--color-secundario-azul-claro:#2D31FA;
--color-terciario-celestito:#5D8BF4;
--color-whatsapp:#25d366;
--color-bordes-iconos-plas:#ffa500;

}
/* --color-primario-oscuro:#051367;
--color-primario-claro:#DFF6FF;
--color-secundario-azul-claro:#2D31FA;
--color-terciario-celestito:#5D8BF4;
--color-whatsapp:#25d366;
--color-bordes-iconos-plas:#ffa500; */